/*
   ------------------------------------
   Import
   ------------------------------------
*/

@import "vendor/normalize";

/*
   ------------------------------------
   Styles
   ------------------------------------
*/

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html {
    height: 100%;
    font-size: 62.5%;
    -webkit-tap-highlight-color: transparent
}

article .content img {
  display: block;
  height: auto;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

/* Classic Styles
––––––––––––––––––––––––––––––––––––––––––––––––––  /

body {
  font-family: "Courier", monospace;
  font-size: 14px;
  line-height: 1.6;
  color: #333333;
  margin: 0;
} 
  @media (min-width: 768px) {
    body {
      font-size: 14px;
      line-height: 1.6;
    }
  }

/ End Classic Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
    height: 100%;
    font-family: Courier, monospace;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    color: #333333;
    background-color: #ffffff;
    content: "small"
}

body.theme-inverse {
    color: #e6e6e6;
    background-color: #111111
}

@media (min-width: 768px) {
    body {
        content: "medium"
    }
}

@media (min-width: 992px) {
    body {
        content: "large"
    }
}

small {
    font-size: 80%
}
  
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

hr {
  margin: 48px 0;
  border-top: 1px solid #ededed;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: courier, monospace;
  font-weight: 500;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 24px;
}

h1, .h1 {
  line-height: 1.2;
  font-size: 14px;
  font-weight: 500;
}
  @media (min-width: 768px) {
    h1, .h1 {
      font-size: 14px;
    }
  }

h2, .h2 {
  font-size: 14px;
}
  @media (min-width: 768px) {
    h2, .h2 {
      font-size: 14px;
    }
  }

h3, .h3 {
  font-size: 12px;
  font-weight: 500;
}
  @media (min-width: 768px) {
    h3, .h3 {
      font-size: 14px;
    }
  }

h4, .h4 {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}
  @media (min-width: 768px) {
    h4, .h4 {
      font-size: 14px;
      text-transform: uppercase;
    }
  }

h5, .h5 {
  font-size: 14px;
  color: #999999;
  font-weight: 500;
}
  @media (min-width: 768px) {
    h5, .h5 {
      font-size: 14px;
    }
  }

h6, .h6 {
  font-size: 14px;
  font-weight: 500;
  font-style: italic;
  color: #999999;
}
  @media (min-width: 768px) {
    h6, .h6 {
      font-size: 14px;
    }
  }

p {
  font-family: courier, monospace;
  margin: 0 0 24px 0;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

blockquote {
  color: #999999;
  font-size: 14px;
  padding: 0 24px;
  margin: 0 0 24px 0;
  border-left: 1px solid #333333;
}
  @media (min-width: 768px) {
    blockquote {
      color: #999999;
      font-size: 14px;
      border-left: 1px solid #333333;
    }
  }

blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0;
}

blockquote .small, blockquote footer, blockquote small {
  font-family: Courier, monospace;
	display: block;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.4287143;
	color: #999999;
	text-align: center;
}

.fa {
  display: inline-block;
  border-bottom: none;
  text-decoration: none;
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.read-more a {
    color: #999999;
    text-align: left;
    border-bottom: none;
}

  .read-more a:hover,
  .read-more a:focus {
    color: #999999;
    border-bottom: 1px solid #999999;
    text-decoration: none;
  }
  
.permalink a {
    color: #999999;
    text-align: left;
    border-bottom: none;
}

  .permalink a:hover,
  .permalink a:focus {
    color: #999999;
    border-bottom: 1px solid #999999;
    text-decoration: none;
  }  

a {
  color: #333333;
  border-bottom: 1px solid #333333;
  text-decoration: none;
}

a:visited {
  color: #333333;
  border-bottom: 1px solid #333333;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #333333;
  border-bottom: none;
  text-decoration: none;
}


