{% extends 'partials/base.html' %}

{% block content %}
  {{ super() }}

  {% if filters.tags %}
    <div class="row">
      <div class="main">
        <h1 class="tag-title">{{ filters.tags|tags(last_separator=' and ', prefix='Posts tagged: ', autolink=False) }}</h1>
      </div>
    </div>
  {% endif %}

      {% for post in posts %}  
          <article class="entry">
            {% if post.images %}
              <a class="entry-banner" href="{{ post.url }}" rel="bookmark" style="background-image: url('{{ post.images[0].url }}')"></a>
            {% endif %}
                    
          <h1 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
          <div class="post-meta">
            <time datetime="{{ post.published_at|date(isoformat=True) }}">{{ post.published_at|date }}</time>
            {{ post.tags|tags(last_separator=' and ', prefix=' in ', suffix='.') }}
          </div>
          <div class="post-excerpt">
	        {% if post.images %}
              <a class="entry-banner" href="{{ post.url }}" rel="bookmark" style="background-image: url('{{ post.images[0].url }}')"></a>
            {% endif %}
  
            {{ post.excerpt }}
            <a href="{{ post.url }}" <i class="fa fa-ellipsis-h"></i></a>
          </div>
        </article>
      {% else %}
        <p>No posts</p>
      {% endfor %}

  {% if pagination.has_pages %}
    <nav class="site-pagination">
      <ul> 
        {% if pagination.has_next %}
          <li class="pagination-next">
            <a href="{{ pagination.next }}" rel="Next">Next</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
    </div>
  </div>
{% endblock content %}
